body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Source Sans Pro', 'Apple SD Gothic', 'Roboto', 'Arial', sans-serif;
}

/* responsive */
@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .main-body {
    display: block;
  }

  .main-body nav {
    position: sticky;
    top: 0;
  }

  .main-body nav a {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

@media (max-width: 800px) {
  .container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-body {
    display: block;
  }

  .main-body nav {
    position: sticky;
    top: 0;
  }

  .main-body nav a {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-body {
    display: flex;
  }

  .main-body nav {
    width: 150px;
    position: sticky;
    top: 0;
    height: 300px;
  }

  .main-body main {
    width: 650px;
  }

  .main-body nav a {
    display: block;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 1001px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-body {
    display: flex;
    position: relative;
  }

  .main-body nav {
    width: 200px;
    position: sticky;
    top: 0;
    height: 300px;
  }

  .main-body main {
    width: 800px;
  }

  .main-body nav a {
    display: block;
    margin-bottom: 0.5rem;
  }

  .image-text {
    display: flex;
  }

  .image-text img {
    width: 35%;
  }

  .image-text p {
    padding-left: 1rem;
  }
}

/* typography */
h1 {
  font-weight: 600;
  margin: 0;
  padding: 2rem 0 1rem;
}

h2 {
  font-weight: 600;
  margin: 0 0 0.75rem 0;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

h4 {
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

h5 {
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

p {
  font-weight: 400;
  max-width: 600px;
  margin: 0 0 1rem 0;
  color: #454545;
}


nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover,
p a {
  color: #496e47;
  text-decoration: underline;
}

p {
  line-height: 160%;
}

.area {
  margin-bottom: 2rem;
}

.indent-1 {
  margin-left: 2rem;
}

img {
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
}

strong {
  font-weight: 600;
}

img.clean {
  border: 0;
}

img.w600 {
  max-width: 600px;
}

img + p {
  margin-top: 0.5rem;
}

img + h4 {
  margin-top: 1rem;
}